.div-expansion-panel-container{
    max-width: 500px;
    background: #009578;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

.expansion-panel-section__input{
    display: none;
}

.expansion-panel-section__label{
    padding: 14px 20px;
}

.expansion-panel-section__label{
    display: block;
    color: #ffff;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

    .expansion-panel-section__label:hover{
        background: rgba(0,0,0,0.1);
    }

.expansion-panel-section__label ion-icon{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #e7d5ff;
}

    .expansion-panel-section__label ion-icon[name="caret-up-outline"]{
        display: none;
    }

.expansion-panel-section__content{
    max-height: 0;
    background: #fff;
    line-height: 1.6;
    transition: max-height 650ms, padding 700ms;
    overflow: hidden;
    padding: 1
}

/* Events */

.expansion-panel-section__input:checked ~ .expansion-panel-section__content{
    padding: 14px 20px;
    max-height: 10rem;
}

.expansion-panel-section__input:checked ~ .expansion-panel-section__label ion-icon[name="caret-down-outline"]{
    display: none;
}

.expansion-panel-section__input:checked ~ .expansion-panel-section__label ion-icon[name="caret-up-outline"]{
    display: block;
}